@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
body {
  margin: 0;
  color: #4e4e4e;
  font-family: Effra-Light; }

p {
  text-shadow: 0px 0px #4e4e4e; }

img {
  max-width: 100%; }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.header {
  background-image: url("../assets/images/pic-hero.png");
  background-color: #055b99;
  min-height: 335px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 20%; }
  .header div {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 45px 0 0 0; }
    .header div img {
      width: 10.3em; }
    .header div h2 {
      width: 100%;
      color: white;
      font-family: Effra-Regular;
      letter-spacing: .3px;
      line-height: 2em;
      margin: 60px 0 0 0;
      font-size: 1.3em; }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 350px) {
  .header div h2 {
    font-size: 1.6em; } }

@media (min-width: 576px) {
  .header div h2 {
    letter-spacing: 1px;
    font-size: 2em; } }

@media (min-width: 760px) {
  .header {
    min-height: 370px; }
    .header div {
      width: 85%;
      text-align: left;
      padding: 40px 0 0 0; }
      .header div img {
        width: 7em; }
      .header div h2 {
        text-align: center;
        width: 100%;
        line-height: 1.5em;
        margin: 60px auto 0 auto;
        font-size: 2.9em;
        letter-spacing: 1px; } }

@media (min-width: 992px) {
  .header {
    min-height: 380px; }
    .header div h2 {
      font-size: 2.9em;
      letter-spacing: 1px; } }

@media (min-width: 1200px) {
  .header {
    min-height: 600px;
    background-position: 75% 100%; }
    .header div img {
      width: 11em; }
    .header div h2 {
      font-size: 4.5em;
      letter-spacing: 3px;
      margin: 110px auto 0 auto; } }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.solutions {
  background-color: #f0f0f0;
  text-align: center;
  letter-spacing: .4px;
  padding: 25px 0 130px 0; }
  .solutions div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto; }
    .solutions div article {
      font-family: Effra-Light;
      width: 70%;
      margin: auto;
      padding: 15px 0; }
      .solutions div article img {
        width: 2.6em; }
      .solutions div article h3 {
        color: #18203d;
        text-shadow: 0px 0px #18203d;
        font-size: 1.3em;
        margin: 12px auto; }
      .solutions div article p {
        margin: 0 auto;
        font-size: 0.85em;
        line-height: 1.5em; }
      .solutions div article .bi:hover {
        transition: all .4s ease-out;
        transform: rotateZ(360deg); }
      .solutions div article .ad:hover {
        transition: all .8s ease-out;
        transform: rotateY(360deg); }
      .solutions div article .ba:hover {
        transition: all .3s ease-out;
        transform: scale(1.1); }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 760px) {
  .solutions {
    padding: 25px 0 70px 0; }
    .solutions div {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: auto; }
      .solutions div article {
        text-align: left;
        padding: 15px 0;
        margin: 0 1.5%; }
        .solutions div article img {
          width: 1.4em;
          float: left; }
        .solutions div article h3 {
          font-size: 1.05em;
          margin: 0 0 12px 30px; }
        .solutions div article p {
          margin: 0 0 0 30px; }
        .solutions div article .ba {
          width: 1.2em; } }

@media (min-width: 1200px) {
  .solutions {
    padding: 25px 0 90px 0; }
    .solutions div article {
      text-align: left;
      padding: 25px 0;
      margin: 0 1%; }
      .solutions div article img {
        width: 2.5em;
        float: left; }
      .solutions div article h3 {
        font-size: 1.7em;
        letter-spacing: 1px;
        margin: 0 0 15px 55px; }
      .solutions div article p {
        font-size: 1.2em;
        margin: 0 0 12px 55px;
        line-height: 1.7em; }
      .solutions div article .ba {
        width: 2.1em; } }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.clients {
  padding: 0 0 10px 0; }
  .clients .clients-container {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .clients .clients-container .client-info {
      width: 90%;
      margin: auto;
      letter-spacing: .9px;
      line-height: 1.5em;
      font-family: Effra-Light;
      background-color: #383d4a;
      color: white;
      padding: 50px 0;
      margin: -110px auto 10px auto;
      box-shadow: 0px 0px 20px 3px #cacaca; }
      .clients .clients-container .client-info h3 {
        margin: 0 auto 15px auto; }
      .clients .clients-container .client-info p {
        width: 90%;
        margin: auto;
        font-size: 0.85em; }
    .clients .clients-container .client-logo {
      background-color: #fff;
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #eaebed;
      margin: 1.5% auto;
      min-height: 90px; }
      .clients .clients-container .client-logo .skanska {
        max-width: 40%; }
      .clients .clients-container .client-logo .pg {
        max-width: 23%; }
      .clients .clients-container .client-logo .rackroom {
        max-width: 18%; }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 760px) {
  .clients .clients-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 160px;
    grid-gap: 10px 15px;
    padding: 0;
    margin: -60px auto 40px auto; }
    .clients .clients-container :nth-child(6) {
      order: 5; }
    .clients .clients-container .client-info {
      border: 1px solid #383d4a;
      width: 100%;
      margin: 0;
      grid-column-start: 1;
      grid-column-end: 3;
      line-height: 1.1em;
      text-align: left;
      padding: 30px 0; }
      .clients .clients-container .client-info h3 {
        width: 80%;
        margin: 0 auto 15px auto; }
      .clients .clients-container .client-info p {
        width: 80%;
        font-size: .7em; }
    .clients .clients-container .client-logo {
      width: 100%;
      margin: 0; }
      .clients .clients-container .client-logo .fifththird {
        max-width: 80%; }
      .clients .clients-container .client-logo .chhn {
        max-width: 80%; }
      .clients .clients-container .client-logo .chs {
        max-width: 80%; }
      .clients .clients-container .client-logo .skanska {
        max-width: 80%; }
      .clients .clients-container .client-logo .pg {
        max-width: 50%; }
      .clients .clients-container .client-logo .rackroom {
        max-width: 50%; } }

@media (min-width: 992px) {
  .clients .clients-container .client-info {
    padding: 22px 0; }
    .clients .clients-container .client-info h3 {
      font-size: 1.1em; }
    .clients .clients-container .client-info p {
      font-size: 0.85em;
      line-height: 1.5em; } }

@media (min-width: 1200px) {
  .clients {
    padding: 0 0 55px 0; }
    .clients .clients-container {
      grid-template-rows: 280px 280px;
      grid-gap: 25px;
      margin: -80px auto 40px auto; }
      .clients .clients-container .client-info {
        line-height: 1.7em;
        text-align: left;
        padding: 50px 0 30px 0; }
        .clients .clients-container .client-info h3 {
          font-size: 1.7em;
          margin: 0 auto 25px auto; }
        .clients .clients-container .client-info p {
          font-size: 1.2em;
          line-height: 1.7em; }
      .clients .clients-container .client-logo .fifththird {
        width: 75%; }
      .clients .clients-container .client-logo .chhn {
        width: 75%; }
      .clients .clients-container .client-logo .chs {
        width: 75%; }
      .clients .clients-container .client-logo .skanska {
        width: 75%; }
      .clients .clients-container .client-logo .pg {
        width: 60%; }
      .clients .clients-container .client-logo .rackroom {
        width: 60%; } }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.work {
  background-color: #e9e9e9;
  letter-spacing: .9px;
  line-height: 1.5em; }
  .work article {
    display: flex;
    flex-direction: column;
    padding: 30px 0; }
  .work img {
    width: 90%;
    margin: auto; }
  .work div {
    width: 80%;
    margin: auto;
    color: #fff; }
    .work div h3 {
      margin: 30px auto 5px auto;
      font-family: Effra-Regular;
      letter-spacing: 1px;
      font-size: 1.7em;
      line-height: 1.1em; }
    .work div h4 {
      text-transform: uppercase;
      margin: 0 auto;
      font-family: Effra-Light;
      font-size: .8em; }
    .work div button {
      color: #18203d;
      background-color: #fff;
      border-radius: 4px;
      border: none;
      padding: 14px 30px;
      letter-spacing: .4px;
      font-family: Effra-Regular;
      font-size: 1em;
      cursor: pointer;
      transition: all .25s ease-in-out;
      margin: 15px auto;
      font-family: Effra-Medium; }
      .work div button:hover, .work div button:focus {
        background-color: #18203d;
        color: #fff; }
  .work .work-gojo {
    background-image: url("../assets/images/pic-gojo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%; }
    .work .work-gojo h3 {
      font-family: Effra-Medium; }
    .work .work-gojo h3,
    .work .work-gojo h4 {
      color: #18203d;
      font-family: Effra-Medium; }
    .work .work-gojo p {
      color: #656565; }
    .work .work-gojo button {
      color: #fff;
      background-color: #0085d9;
      border-radius: 4px;
      border: none;
      padding: 14px 30px;
      letter-spacing: .4px;
      font-family: Effra-Regular;
      font-size: 1em;
      cursor: pointer;
      transition: all .25s ease-in-out; }
      .work .work-gojo button:hover, .work .work-gojo button:focus {
        background-color: #18203d; }
  .work .work-fifththird {
    background-image: url("../assets/images/pic-fifththird-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #314150;
    background-position: 12% 50%;
    text-align: center;
    padding: 60px 0 40px 0; }
    .work .work-fifththird img {
      width: 100%; }
    .work .work-fifththird p {
      margin: 30px auto; }
  .work .work-chhn {
    background-image: url("../assets/images/pic-chhn-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 100%;
    overflow: hidden; }
    .work .work-chhn p {
      margin: 35px auto 20px auto; }
    .work .work-chhn img {
      margin: 0 0 0 16%;
      width: 100%; }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 760px) {
  .work article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .work article h3 {
      font-size: 1.1em;
      margin: 30px auto 2px auto; }
    .work article h4 {
      font-size: .7em; }
    .work article p {
      font-size: 0.85em; }
    .work article button {
      padding: 10px 15px;
      font-size: .7em; }
  .work .work-gojo {
    background-position: 0% 0%;
    padding: 20px 0 0 0; }
    .work .work-gojo img {
      width: 40%;
      height: 40%;
      margin: 0 25px 0 55px; }
    .work .work-gojo div {
      width: 40%;
      height: 40%;
      margin: 20px 0 0 25px; }
      .work .work-gojo div p {
        margin: 10px 100px 10px auto; }
      .work .work-gojo div button {
        padding: 10px 15px;
        font-size: .7em; }
  .work .work-fifththird {
    flex-direction: row-reverse;
    background-position: 100% 50%;
    text-align: left;
    padding: 40px 0 0 0;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .work .work-fifththird img {
      width: 70%;
      height: 70%;
      margin: 0 -140px 0 0; }
    .work .work-fifththird div {
      width: 35%;
      height: 30%;
      margin: 60px 0 0 60px; }
      .work .work-fifththird div h3 {
        margin: 0 auto 5px 0; }
      .work .work-fifththird div p {
        margin: 10px auto; }
  .work .work-chhn {
    background-position: 80% 0%;
    margin: -100px 0 0 0;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    .work .work-chhn img {
      width: 50%;
      height: 50%;
      margin: -50px 0 0 -75px; }
    .work .work-chhn div {
      width: 50%;
      height: 50%;
      margin: 0 0 0 20px; }
      .work .work-chhn div p {
        margin: 10px auto; } }

@media (min-width: 992px) {
  .work article h3 {
    font-size: 1.3em; }
  .work article button {
    padding: 10px 20px;
    font-size: 0.85em; }
  .work .work-gojo div {
    margin: 60px 0 0 25px; }
    .work .work-gojo div p {
      margin: 10px 150px 10px auto; }
    .work .work-gojo div button {
      padding: 10px 20px;
      font-size: 0.85em; }
  .work .work-fifththird div {
    margin: 140px 0 0 120px; }
    .work .work-fifththird div p {
      margin: 10px auto 10px auto; }
  .work .work-chhn img {
    margin: -55px 0 0 -245px; }
  .work .work-chhn div {
    width: 30%;
    height: 30%;
    margin: 20px 0 0 80px; } }

@media (min-width: 1200px) {
  .work article h3 {
    font-size: 1.7em; }
  .work article h4 {
    font-size: .9em; }
  .work article p {
    font-size: 1.2em;
    line-height: 1.7em; }
  .work article button {
    padding: 15px 35px;
    font-size: 1.1em; }
  .work .work-gojo div {
    margin: 80px 0 0 25px; }
    .work .work-gojo div p {
      margin: 20px auto; }
    .work .work-gojo div button {
      padding: 15px 35px;
      font-size: 1.1em; }
  .work .work-fifththird img {
    width: 70%;
    height: 70%;
    margin: 0 -240px 0 0; }
  .work .work-fifththird div p {
    margin: 20px auto; }
  .work .work-chhn {
    margin: -150px 0 0 0; }
    .work .work-chhn img {
      margin: -60px 0 0 -300px; }
    .work .work-chhn div p {
      margin: 30px auto; } }

@media (min-width: 1330px) {
  .work .work-gojo div {
    margin: 120px 0 0 25px; }
  .work .work-fifththird div {
    margin: 200px 0 0 60px; }
  .work .work-chhn {
    margin: -150px 0 0 0; }
    .work .work-chhn div {
      margin: 40px 0 0 80px; } }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.connect {
  background-color: #eeeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: .3px;
  line-height: 1.5em;
  padding: 30px 0 10px 0; }
  .connect .connect-info {
    width: 90%;
    margin: auto;
    padding: 0 0 40px 0; }
    .connect .connect-info h3 {
      margin: 20px auto 0 auto;
      color: #18203d;
      font-size: 1.65em;
      text-shadow: 0px 0px #18203d; }
    .connect .connect-info p {
      margin: 15px auto 30px auto;
      letter-spacing: .3px; }
    .connect .connect-info form .form-input {
      font-family: Effra-Light;
      font-size: 1em;
      width: 90%;
      margin: auto;
      padding: 15px 15px;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      margin: 8px auto; }
    .connect .connect-info form .form-submit {
      color: #fff;
      background-color: #0085d9;
      border-radius: 4px;
      border: none;
      padding: 14px 30px;
      letter-spacing: .4px;
      font-family: Effra-Regular;
      font-size: 1em;
      cursor: pointer;
      transition: all .25s ease-in-out;
      font-family: Effra-Regular;
      padding: 10px 35px;
      margin: 10px auto;
      cursor: pointer; }
      .connect .connect-info form .form-submit:hover, .connect .connect-info form .form-submit:focus {
        background-color: #18203d; }
  .connect hr {
    border-top: .5px solid #d1d4d5;
    width: 50%;
    margin: 0 auto 40px auto; }
  .connect .contact-info h4 {
    font-family: Effra-Medium;
    font-size: 1.05em;
    color: #18203d; }
  .connect .contact-info .contact-person h4 {
    margin: 0 auto 10px auto; }
  .connect .contact-info .contact-person p {
    margin: 0 auto;
    font-size: .95em; }
    .connect .contact-info .contact-person p strong {
      font-family: Effra-Medium;
      color: #18203d;
      letter-spacing: 1px; }
  .connect .contact-info .contact-address {
    margin: 40px auto 30px auto; }
    .connect .contact-info .contact-address h4 {
      margin: 0 auto; }
    .connect .contact-info .contact-address p {
      margin: 10px auto 10px auto;
      font-style: normal;
      font-size: .95em;
      text-shadow: 0px 0px #4e4e4e; }
    .connect .contact-info .contact-address iframe {
      border: 1px solid #a9a9a9;
      border-radius: 8px;
      margin: 20px auto; }
    .connect .contact-info .contact-address a {
      color: #0085d9;
      font-family: Effra-Medium;
      font-size: .9em;
      transition: all .25s ease-out; }
      .connect .contact-info .contact-address a:hover, .connect .contact-info .contact-address a:focus {
        color: #18203d; }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 760px) {
  .connect {
    margin: -50px auto 0 auto;
    position: relative;
    z-index: 3; } }

@media (min-width: 992px) {
  .connect {
    margin: -60px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px; }
    .connect hr {
      display: none; }
    .connect .connect-info {
      border-right: .5px solid #d1d4d5;
      padding: 0 40px; }
      .connect .connect-info p br {
        display: none; }
      .connect .connect-info form {
        text-align: left; }
    .connect .contact-info {
      text-align: left;
      width: 50%;
      padding: 0 50px; } }

@media (min-width: 1200px) {
  .connect {
    margin: -70px auto 0 auto; }
    .connect .connect-info h3 {
      font-size: 1.7em; }
    .connect .contact-info {
      padding: 0 60px; } }

@media (min-width: 1330px) {
  .connect {
    padding: 70px; }
    .connect .contact-info {
      padding: 0 70px; } }

@font-face {
  font-family: Effra-Light;
  src: url("../assets/fonts/Effra_Std_Lt.ttf"); }

@font-face {
  font-family: Effra-Regular;
  src: url("../assets/fonts/Effra_Std_Rg.ttf"); }

@font-face {
  font-family: Effra-Medium;
  src: url("../assets/fonts/Effra_Std_Md.ttf"); }

@font-face {
  font-family: Effra-Bold;
  src: url("../assets/fonts/Effra_Std_Bd.ttf"); }

/*------------------
Font Styles
------------------*/
/*------------------
Images
------------------*/
/*------------------
Media Queries
------------------*/
.footer {
  background-color: #d8d8d8;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Effra-Regular;
  font-size: 0.85em;
  color: #4f4e4e;
  padding: 25px 0; }
  .footer .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .social-icons img {
      margin: 10px 15px;
      cursor: pointer;
      transition: all .1s ease-in-out; }
      .footer .social-icons img:hover {
        filter: brightness(0) invert(100%); }

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */
@media (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 60px; } }
