@import '../partials/_variables.scss';

body {
	margin: 0;
	color: black;
	font-family: Effra-Light;
}
  
img {
    max-width: 100%;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */