@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.clients {
    padding: 0 0 10px 0; 
    .clients-container {
        @include flexbox-column;
        @include align-center;
        .client-info {
            @include width-90;
            @include letter-spacing;
            font-family: $font-light;
            background-color: #383d4a;
            color: white;
            padding: 50px 0;
            margin: -110px auto 10px auto;
            box-shadow: 0px 0px 20px 3px #cacaca;
            h3 {
                margin: 0 auto 15px auto;
            }
            p {
                width: 90%;
                margin: auto;
                font-size: $font-xsmall;
            }
        }
        .client-logo {
            background-color: #fff;
            @include width-90;
            @include flexbox-column;
            align-items: center;
            justify-content: center;
            border: 2px solid #eaebed;
            margin: 1.5% auto;
            min-height: 90px;
            .skanska {
                max-width: 40%;
            }
            .pg {
                max-width: 23%;
            }
            .rackroom {
                max-width: 18%;
            }
        }
    }
}

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */

// clients layout changes from column to row

@include tablet-portrait {
    .clients {
        .clients-container {
            @include width-90;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 160px 160px;
            grid-gap: 10px 15px;
            padding: 0;
            margin: -60px auto 40px auto;
            :nth-child(6) {
                order: 5;
            }
            .client-info {
                border: 1px solid #383d4a;
                width: 100%;
                margin: 0;
                grid-column-start: 1;
                grid-column-end: 3;
                line-height: 1.1em;
                @include align-left;
                padding: 30px 0;
                h3 {
                    width: 80%;
                    margin: 0 auto 15px auto;
                }
                p {
                    width: 80%;
                    font-size: .7em;
                }
            }
            .client-logo {
                width: 100%;
                margin: 0;
                .fifththird {
                    max-width: 80%;
                }
                .chhn {
                    max-width: 80%;
                }
                .chs {
                    max-width: 80%;
                }
                .skanska {
                    max-width: 80%;
                }
                .pg {
                    max-width: 50%;
                }
                .rackroom {
                    max-width: 50%;
                }
            }
        }
    }
}

@include tablet-landscape {
    .clients {
        .clients-container {
            .client-info {
                padding: 22px 0;
                h3 {
                    font-size: 1.1em;
                }
                p {
                    font-size: $font-xsmall;
                    line-height: 1.5em;
                }
            }
        }
    }
}

@include desktop {
    .clients {
        padding: 0 0 55px 0; 
        .clients-container {
            grid-template-rows: 280px 280px;
            grid-gap: 25px;
            margin: -80px auto 40px auto;
            .client-info {
                line-height: 1.7em;
                @include align-left;
                padding: 50px 0 30px 0;
                h3 {
                    font-size: 1.7em;
                    margin: 0 auto 25px auto;
                }
                p {
                    font-size: 1.2em;
                    line-height: 1.7em;
                }
            }
            .client-logo {
                .fifththird {
                    width: 75%;
                }
                .chhn {
                    width: 75%;
                }
                .chs {
                    width: 75%;
                }
                .skanska {
                    width: 75%;
                }
                .pg {
                    width: 60%;
                }
                .rackroom {
                    width: 60%;
                }
            }
        }
    }
}

// @include large-desktop {
//     .clients {
//         .clients-container {
//             .client-info {
//                 padding: 45px 0;
//                 h3 {
//                     width: 70%;
//                 }
//                 p {
//                     width: 70%;
//                 }
//             }
//         }
//     }
// }