@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.connect {
    background-color: #eeeeee;
    @include align-center;
    @include flexbox-column;
    letter-spacing: .3px;
    line-height: 1.5em;
    padding: 30px 0 10px 0;
    .connect-info {
        @include width-90;
        padding: 0 0 40px 0;
        h3 {
            margin: 20px auto 0 auto;
            color: $dark-blue;
            font-size: 1.65em;
            text-shadow: 0px 0px #18203d;
        }
        p {
            margin: 15px auto 30px auto;
            letter-spacing: .3px;
        }
        form {
            .form-input {
                font-family: $font-light;
                font-size: $font-small;
                @include width-90;
                padding: 15px 15px;
                border: 1px solid #a9a9a9;
                border-radius: 5px;
                margin: 8px auto;
            }
            .form-submit {
                @include button-blue;
                font-family: $font-regular;
                padding: 10px 35px;
                margin: 10px auto;
                cursor: pointer;
            }
        }
    }
    hr { 
        border-top: .5px solid #d1d4d5;
        width: 50%;
        margin: 0 auto 40px auto;
    }
    .contact-info {
        h4 {
            font-family: $font-bold;
            font-size: 1.05em;
            color: $dark-blue;
        }
        .contact-person {
            h4 {
                margin: 0 auto 10px auto;
            }
            p {
                margin: 0 auto;
                font-size: .95em;
                strong {
                    font-family: $font-bold;
                    color: $dark-blue;
                    letter-spacing: 1px;
                }
            }
        }
        .contact-address {
            margin: 40px auto 30px auto;
            h4 {
                margin: 0 auto;
            }
            p {
                margin: 10px auto 10px auto;
                font-style: normal;
                font-size: .95em;
                text-shadow: 0px 0px #4e4e4e;
            }
            iframe {
                border: 1px solid #a9a9a9;
                border-radius: 8px;
                margin: 20px auto;
            }
            a {
                color: #0085d9;
                font-family: $font-bold;
                font-size: .9em;
                transition: all .25s ease-out;
                &:hover,
                &:focus {
                    color: $dark-blue;
                }
            }
        }
    }
}

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */

@include tablet-portrait {
    .connect {
        margin: -50px auto 0 auto;
        position: relative;
        z-index: 3;
    }
}

// the form and contact information sections change from column to a side-by-side layout

@include tablet-landscape {
    .connect {
        margin: -60px auto 0 auto;
        hr {
            display: none;
        }
        @include flexbox-row;
        justify-content: center;
        padding: 60px;
        .connect-info {
            border-right: .5px solid #d1d4d5;
            padding: 0 40px;
            p {
                br {
                    display: none;
                }
            }
            form {
                @include align-left;
            }
        }
        .contact-info {
            @include align-left;
            width: 50%;
            padding: 0 50px;
        }
    }
}

@include desktop {
    .connect {
        margin: -70px auto 0 auto;
        .connect-info {
            h3 {
                font-size: 1.7em;
            }
        }
        .contact-info {
            padding: 0 60px;
        }
    }
}

@include large-desktop {
    .connect {
        padding: 70px;
        .contact-info {
            padding: 0 70px;
        }
    }
}