@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.footer {
    background-color: #d8d8d8;
    @include align-center;
    @include flexbox-column;
    font-family: $font-regular;
    font-size: $font-xsmall;
    color: #4f4e4e;
    padding: 25px 0;
    .social-icons {
        @include flexbox-row;
        justify-content: center;
        img {
            margin: 10px 15px;
            cursor: pointer;
            transition: all .1s ease-in-out;
            &:hover {
                filter: brightness(0) invert(100%);
            }
        }
    }
}

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */

// the footer paragraph and the group of social icons change from being stacked to being on opposite ends of the footer

@include tablet-landscape {
    .footer {
        @include flexbox-row;
        justify-content: space-between;
        padding: 25px 60px;
    }
}