@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.header {
    background-image: $header-background;
    background-color: #055b99;
    height: 300px;
    @include background-image-properties;
    background-position: 80% 20%; 
    div {
        @include center;
        @include max-page-width;
        padding: 15% 0 0 0;
        h2 {
            color: white;
            font-family: $font-regular;
            @include letter-spacing;
            margin: 15% 0 0 0;
        }
    }
}