@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.header {
    background-image: $header-background;
    background-color: #055b99;
    height: 300px;
    @include background-image-properties;
    background-position: 80% 20%; 
    div {
        @include align-center;
        @include width-90;
        padding: 40px 0 0 0;
        h2 {
            color: white;
            font-family: $font-regular;
            letter-spacing: 2px;
            line-height: 2em;
            margin: 40px 0 0 0;
        }
    }
}