@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.solutions {
    background-color: #f0f0f0;
    @include align-center;
    letter-spacing: .4px;
    padding: 25px 0 130px 0;
    div {
        @include flexbox-column;
        @include width-90;
        article {
            font-family: $font-light;
            @include width-70;
            padding: 15px 0;
            img {
                width: 2.6em;
            }
            h3 {
                color: $dark-blue;
                text-shadow: 0px 0px #18203d;
                font-size: $font-medium;
                margin: 12px auto;
            }
            p {
                margin: 0 auto;
                font-size: $font-xsmall;
                line-height: 1.5em;
            }
            // hover animations for icons
            .bi {
                &:hover {
                    transition: all .4s ease-out;
                    transform: rotateZ(360deg);
                }
            }
            .ad {
                &:hover {
                    transition: all .8s ease-out;
                    transform: rotateY(360deg);
                }
            }
            .ba {
                &:hover {
                    transition: all .3s ease-out;
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* ----------------------------------
 media queries for tablets and larger
---------------------------------- */

// layout changes from column to row

@include tablet-portrait {
    .solutions {
        padding: 25px 0 70px 0;
        div {
            @include flexbox-row;
            @include width-90;
            article {
                @include align-left;
                padding: 15px 0;
                margin: 0 1%;
                img {
                    width: 1.5em;
                    float: left;

                }
                h3 {
                    font-size: 1.2em;
                    margin: 0 0 12px 30px;
                }
                p {
                    margin: 0 0 0 30px;
                }
                .ba {
                    width: 1.1em;
                }
            }
        }
    }
}

@include desktop {
    .solutions {
        padding: 25px 0 90px 0;
        div {
            article {
                @include align-left;
                padding: 25px 0;
                margin: 0 2.5%;
                img {
                    width: 2.5em;
                    float: left;
                }
                h3 {
                    font-size: 1.6em;
                    letter-spacing: 1px;
                    margin: 0 0 15px 55px;
                }
                p {
                    font-size: 1.1em;
                    margin: 0 0 12px 55px;
                    line-height: 1.7em;
                }
                .ba {
                    width: 2.1em;
                }
            }
        }
    }
}