@import '../partials/_variables.scss';
@import '../partials/_mixins.scss';

.solutions {
    background-color: #f0f0f0;
    @include flexbox-column;
    @include align-center;
    padding: 6% 0 40% 0;
        article {
            font-family: $font-light;
            @include width-80;
            @include letter-spacing;
            padding: 3% 0;
            h3 {
                font-family: $font-regular;
            }
        }

}